*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
     width: 100%;
     height: 100%;
}


:root{
    --font-body: 'Poppins', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
}


.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    z-index: 1000;
   
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo img{
height:250px;
transition:0.3s;
}

.logo img:hover{
transform:scale(1.08);
}

.nav-links a{
margin:0 22px;
text-decoration:none;
font-weight:600;
color:#ffffffe9;
position:relative;
font-size:16px;
font-family: var(--font-body);
}

.nav-links a::after{
content:'';
position:absolute;
width:0%;
height:2px;
background:#e98d0c;
left:0;
bottom:-6px;
transition:0.4s;
}

.nav-links a:hover::after{
width:100%;
}

.Contact a{
padding:9px 18px;
margin-right: 50px;
text-decoration: none;
border-radius:30px;
background-color: #e98d0c;
border:1px solid #ddd;
color:white ;
font-size: 16px;
font-family: var(--font-body);
transition:0.3s

}

.Contact a:hover{
    background:#fff;
    color:#000;
}

/* SCROLL EFFECT */
.navbar.scrolled{
    background: linear-gradient(
        to right,
        #012d41,
        #024d6b,
        #036280
    );
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s ease-in;
}