*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    background-color: #ffffff;
}

:root{
    --font-body: 'Poppins', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
}




/* ==================Hero Section=============== */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #00060e;
}

/* Slides */
.slides {
    position: relative;
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 60px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.8s ease;
}

/* Active Slide */
.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

/* Previous slide animation */
.slide.prev {
    transform: translateX(-100%);
    opacity: 0;
}

/* Overlay */
.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 18, 26, 0.85),
        rgba(0,0,0,0.3)
    );
    z-index: 1;
}

/* Content */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    color: #fff;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 60px;
    margin-top: 50px;
    font-family: var(--font-heading);
}

.hero-content span {
    color: #ff7a00;
}

.hero-content p{
    font-size:16px;
    margin-top: 20px;
    margin-bottom:30px;
    color:#ddd;
    font-family: var(--font-body);

}

/* Right dots */
.slider-dots {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 5;
}

.dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.dot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot.active {
    border: 2px solid #ff7a00;
    transform: scale(1.2);
}
/* BUTTONS */
.hero-buttons{
    display:flex;
    gap:15px;
    margin-top: 25px;
}

.btn-primary{
    background:#ff7a00;
    color:#fff;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
    font-family: var(--font-body);
}

.btn-primary:hover{
    background:#e66900;
}

.btn-secondary{
    border:1px solid #fff;
    color:#fff;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
     font-family: var(--font-body);
}

.btn-secondary:hover{
    background:#fff;
    color:#000;
}
/* .mouse-mesh{
    position:absolute;
    width:250px;
    height:250px;
    pointer-events:none;
    z-index:1;

    background:
        repeating-linear-gradient(
            0deg,
            rgba(255,255,255,0.15) 0px,
            rgba(255,255,255,0.15) 1px,
            transparent 1px,
            transparent 15px
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255,255,255,0.15) 0px,
            rgba(255,255,255,0.15) 1px,
            transparent 1px,
            transparent 15px
        );

    border-radius:50%;
    transform: translate(-50%, -50%);
} */


/* SECTION */
.about-section{
    padding:100px 60px;
    text-align:center;
    background:linear-gradient(to right, #f4f9fb, #ffffff);
    position:relative;
    overflow:hidden;
}

/* WATERMARK */
.about-section::before{
    content:"MESHGUARD";
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:160px;
    font-weight:bold;
    color:rgba(10,92,122,0.05);
    z-index:0;
}

/* HEADING */
.about-section h2{
    font-size:50px;
    color:#0a5c7a;
    margin-bottom:20px;
    position:relative;
    z-index:1;
    font-family: var(--font-heading);
}

/* TEXT */
.about-text{
    max-width:800px;
    margin:0 auto 20px;
    color:#555;
    font-size:20px;
    line-height:1.7;
    position:relative;
    z-index:1;
    font-family: var(--font-body);
}

.about-text span{
    color:#e98d0c;
    font-weight:bold;
    font-family: var(--font-body);
}

/* TAGLINE */
.tagline{
    margin:20px 0 60px;
    font-style:italic;
    color:#0a5c7a;
    position:relative;
    z-index:1;
    font-family: var(--font-body);
}

/* CARDS */
.about-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    position:relative;
    z-index:1;
}

/* CARD */
.about-card{
    width:300px;
    padding:30px 25px;
    border-radius:20px;
    background:#ffffff;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.4s;
}

/* HOVER */
.about-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

/* ICON */
.about-card i{
    font-size:40px;
    color:#0a5c7a;
    margin-bottom:15px;
}

/* TITLE */
.about-card h3{
    color:#e98d0c;
    margin-bottom:10px;
    font-family: var(--font-body);
}

/* TEXT */
.about-card p{
    font-size:15px;
    color:#555;
    font-family: var(--font-body);
}

/* RESPONSIVE */
@media(max-width:900px){
    .about-cards{
        flex-direction:column;
        align-items:center;
    }
}


/* ===== SECTION Why ===== */

.why-sticky{
    position:relative;
    height:180vh; /* EXTRA HEIGHT → allows scrolling effect */
}

/* ===== STICKY BACKGROUND ===== */
.why-bg{
    position:sticky;
    top:0;
    height:100vh;

    /* YOUR BACKGROUND IMAGE */
    background: 
        linear-gradient(
            rgba(1,45,65,0.85),  /* dark blue overlay */
            rgba(1,45,65,0.85)
        ),
        url("/Images/why-bg.png"); /* change image */

    background-size:cover;
    background-position:center;

    z-index:1;
}

.why-content{
    position:absolute;
    top:2px;
    width:100%;
    height:100%;

    z-index:2;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    color:#fff;
    text-align:center;
    padding:0 20px;
}
.why-content h2{
    font-size:60px;
    margin-top: 2px;
    margin-bottom:10px;
    font-family: var(--font-heading);
}


.why-content span{
    color:#e98d0c;
    font-family: var(--font-heading);
}

/* SUBTITLE */
.subtitle{
    color:#b4aeaef0;
    margin-bottom:50px;
    font-size: 25px;
    font-family: var(--font-body);
}

.why-grid{
    display:grid;
    grid-template-columns: repeat(3,5fr);
    margin-top: 50px;
    gap:60px;
    max-width:1000px;

    row-gap: 100px;   /* 🔥 space between rows */
    column-gap: 40px;
}
.why-box{
    padding:20px;
    transition:0.4s;
}
.why-box i{
    font-size:80px;
    color:#00cfff; /* light blue */
    margin-bottom:15px;

    border:2px solid #00cfff;
    border-radius:50%;
    padding:20px;
}
/* TITLE */
.why-box h3{
    margin-bottom:25px;
    font-family: var(--font-body);
}

.why-box p{
    font-size:18px;
    color:#ddd;
    font-family: var(--font-body);
}
/* ===== HOVER EFFECT ===== */
.why-box:hover{
    transform:translateY(-10px);
}

.why-box:hover i{
    background:#e98d0c;
    border-color:#e98d0c;
    color:#fff;
}


/* ==============Product Section================================== */

/* SECTION BACKGROUND */
.products-section{
    padding:100px 50px 160px;
    background: linear-gradient(135deg, #012f41, #0a5c7a);
    color:#fff;
    position:relative;
    margin-bottom: 100px;
}

/* TOP LAYOUT */
.products-top{
    display:flex;
    justify-content:space-between;
    gap:60px;
    margin-bottom:80px;
}

.products-left h2{
    font-size:45px;
    line-height:1.3;
    margin-left: 50px;
    font-family: var(--font-heading);

}

.gradient-text{
    background: linear-gradient(90deg,#e98d0c,#ffb347);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family: var(--font-heading);
}

/* RIGHT TEXT */
.products-right p{
    color:#bbbfc3;
    line-height:1.5;
    max-width:500px;
    margin-right: 50px;
    font-size: 17px;
    font-family: var(--font-body);
}

/* BUTTON */
.product-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    margin-top:20px;
    margin-left: 50PX;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    font-family: var(--font-body);
}

.product-btn i{
    transition:0.3s;
}

.product-btn:hover i{
    transform:translateX(6px);
}

/* CARDS CONTAINER */
.products-cards{
    display:flex;
    gap:50px;
    justify-content:center;

    position:absolute;
    bottom:-190px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
  
}

/* CARD */
.product-card{
    background:#fff;
    color:#111;
    border-radius:15px;
    overflow:hidden;
    width:320px;
   
     margin-top: 18px;

    box-shadow:0 15px 40px rgba(0,0,0,0.2);
    transition:0.4s;
    border-left:5px solid #e98d0c;
    border-bottom:5px solid  #e98d0c;
  
}

.product-card:hover{
    transform:translateY(-10px);
}

/* IMAGE */
.product-card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

/* CONTENT */
.card-content{
    padding:20px;
}

.card-content h3{
    font-size:18px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    gap:10px;
    font-family: var(--font-body);
}

.card-content h3 i{
    color:#e98d0c;
    font-family: var(--font-body);
    font-size: 2px;
}

.card-content p{
    font-size:14px;
    color:#555;
    font-family: var(--font-body);
}

.quote-btn{
    display:inline-flex;
    align-items:end;
    gap:8px;

    margin-top:15px;
    padding:10px 18px;

    font-size:14px;
    font-weight:600;

    color:#e98d0c;
    text-decoration:none;

    border:2px solid #e98d0c;
    border-radius:6px;

    transition:0.3s;
}

/* HOVER EFFECT */
.quote-btn:hover{
    background:#e98d0c;
    color:#fff;
}

/* ICON ANIMATION */
.quote-btn i{
    transition:0.3s;
}

.quote-btn:hover i{
    transform:translateX(5px);
}

/* =====Process SECTION ===== */
.process-new{
    padding:120px 80px;
    background:#f8fafc;
}

/* HEADER */
.process-header h2{
    font-size:60px;
    margin-bottom:-46px;
    color:#0a5c7a;
    font-family: var(--font-heading);
}

.process-header span{
    color:#e98d0c;
       font-family: var(--font-heading);
}

/* WRAPPER */
.process-wrapper{
    display:flex;
    gap:60px;
    align-items:center;
}

/* IMAGE SIDE */
.process-image{
    width:50%;
}

.process-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,0.15);
    transition:0.4s;
}

/* CARDS */
.process-container{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* CARD */
.process-card{
    padding:25px;
    background:#fff;
    border-radius:14px;
    border:1px solid #e5e7eb;

    cursor:pointer;
    transition:all 0.4s ease;
    font-family: var(--font-body);
}

/* STEP */
.step{
    font-size:22px;
    font-weight:700;
    color:#e98d0c;
    margin-bottom:10px;
}

/* TEXT */
.process-card h3{
    font-size:18px;
    margin-bottom:8px;
    
}

.process-card p{
    font-size:14px;
    color:#555;
}

/* DEFAULT FADE */
.process-container:hover .process-card{
    opacity:0.4;
    transform:scale(0.95);
}

/* ACTIVE CARD */
.process-card.active,
.process-card:hover{
    opacity:1 !important;
    transform:scale(1.05);
    box-shadow:0 20px 40px rgba(0,0,0,0.1);
    border-color:#e98d0c;
}

.cta-section{
    padding:80px 60px;
    background: linear-gradient(135deg,#ffffff,#ffffff);
    color:#00060e;
    margin-top: 200px;

  
}

/* CONTAINER */
.cta-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

/* TEXT */
.cta-text h2{
    font-size:60px;
    line-height:1.3;
    margin-bottom:15px;
      margin-left: 50px;
      font-family: var(--font-heading);

}

.cta-text p{
    color:#7f8081;
    max-width:500px;
      margin-left: 50px;
      font-family: var(--font-body);
  
}

/* BUTTON */
.cta-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;

    padding:14px 28px;
    font-size:16px;
    font-weight:600;

    background:linear-gradient(45deg,#e98d0c,#ffb347);
    color:#fff;

    text-decoration:none;
    border-radius:8px;

    transition:0.3s;
      margin-right: 50px;
      font-family: var(--font-body);
}

/* HOVER */
.cta-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 30px rgba(233,141,12,0.4);
}

.cta-btn i{
    transition:0.3s;
}

.cta-btn:hover i{
    transform:translateX(6px);
}

 